{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card mb-2">
        <div class="card-header text-primary">
            <legend>Delete Post</legend>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
                <div class="form-group mt-2">
                    <button class="btn btn-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-secondary" href="{% url 'blog-detail' object.id %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}